.container {
  background-color: white;
  display: flex;
  justify-content: center;
}

.hintContainer {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid ghostwhite
}

.title {
  color: grey;
  font-size: 15px;
}

.text {
  color: grey;
  font-size: 15px;
}
